[Desktop Entry]
Version=1.2.0
Type=Application
Name=battmon
Comment=A simple battery monitoring tool for Linux operating systems
Exec=battmon --graph
Icon=/usr/share/icons/gnome/48x48/devices/battery.png
Categories=Utility;
Terminal=false
StartupNotify=true
StartupWMClass=battmon
